* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

header {
  background-image: url(./../assets/img/tinihead2.jpg);
  background-size: cover;
  height: auto;
}
header .icons-head {
  display: none;
}
header .titulo-propiedades {
  font-family: "Oswald";
  font-size: 6rem;
  text-transform: uppercase;
  color: #e516d1;
  justify-content: center;
  margin-bottom: 0;
}

footer {
  background-color: black;
}
footer .icons-footer {
  display: flex;
  justify-content: center;
  padding: 10rem;
}
footer .icons-footer img {
  height: 2rem;
}
footer .icons-footer .seccion-group {
  display: none;
}

main {
  background-image: url(./../assets/img/tinimain.png);
  background-size: contain;
  height: 100%;
  width: 100%;
}
main .texto-principal {
  font-family: "Oswald";
  font-size: 17px;
  text-align: center;
  color: #e516d1;
  padding: 5rem;
}

.fecha-uy {
  font-size: 2rem;
  color: #e516d1;
  text-transform: uppercase;
  padding-top: 2rem;
  padding-left: 2rem;
}

.fecha-cor {
  font-size: 2rem;
  color: #e516d1;
  text-transform: uppercase;
  padding-top: 1rem;
  margin-left: 12rem;
}

.fecha-bsaires {
  font-size: 2rem;
  color: #e516d1;
  text-transform: uppercase;
  padding-top: 1rem;
  margin-left: 25rem;
}

.fecha-bcn {
  font-size: 2rem;
  color: #e516d1;
  text-transform: uppercase;
  margin-top: -8rem;
  margin-left: 5rem;
}

.fecha-vln {
  font-size: 2rem;
  color: #e516d1;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-left: 15rem;
}

.fecha-cadiz {
  font-size: 2rem;
  color: #e516d1;
  text-transform: uppercase;
  margin-left: 32rem;
}
.fecha-cadiz .cadiz {
  margin-bottom: 0;
}

.titulo-album {
  padding-top: 2rem;
  margin-left: 15rem;
  text-transform: uppercase;
  color: white;
  font-family: "Oswald";
}

.albumimg2 {
  height: 16rem;
  margin-left: 10rem;
}

.download {
  height: 3rem;
  margin-left: 17rem;
  padding-top: 1rem;
}

.download-1 {
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  margin-left: 16rem;
}

.lasjordan {
  margin-left: 6rem;
  text-transform: uppercase;
  color: white;
  font-family: "Oswald";
}

.jordanimg3 {
  height: 12rem;
}

.tepido {
  margin-top: 2rem;
  margin-left: 25rem;
  color: white;
  font-family: "Oswald";
  text-transform: uppercase;
}

.tepidoimg2 {
  height: 12rem;
  margin-left: 20rem;
  padding-top: -18rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  header .titulo-propiedades {
    font-size: 9rem;
    margin-top: 3rem;
    margin-left: 45rem;
  }
  /* MAIN INDEX */
  main {
    /* MAIN GIRAS */
    /* MAIN LANZAMIENTOS */
  }
  main .texto-principal {
    font-size: 25px;
    padding: 6rem;
  }
  main .fecha-cor {
    margin-left: 25rem;
  }
  main .fecha-bsaires {
    margin-left: 45rem;
  }
  main .fecha-vln {
    margin-left: 28rem;
  }
  main .fecha-cadiz {
    margin-left: 60rem;
  }
  main .titulo-album {
    font-size: 3rem;
    margin-left: 35rem;
  }
  main .albumimg2 {
    height: 25rem;
    margin-left: 25rem;
  }
  main .download {
    height: 5rem;
    margin-left: 35rem;
  }
  main .download-1 {
    text-transform: uppercase;
    font-size: 2rem;
    margin-left: 32rem;
  }
  main .lasjordan {
    margin-left: 12rem;
  }
  main .jordanimg3 {
    height: 20rem;
    margin-left: 2rem;
  }
  main .tepido {
    margin-left: 50rem;
  }
  main .tepidoimg2 {
    height: 20rem;
    margin-left: 40rem;
  }
  /* FOOTER */
  footer img {
    height: 3rem;
  }
}
@media (min-width: 1024px) {
  /* MAIN INDEX */
  main {
    /* MAIN GIRAS */
    /* MAIN LANZAMIENTOS */
  }
  main .texto-principal {
    font-size: 3rem;
    font-family: "Indie flower";
  }
  main .fecha-uy {
    margin-left: 15rem;
  }
  main .fecha-cor {
    margin-left: 85rem;
  }
  main .fecha-bsaires {
    margin-top: -10rem;
    margin-left: 50rem;
  }
  main .fecha-cadiz {
    margin-top: -9rem;
    margin-left: 70rem;
  }
  main .fecha-bcn {
    margin-top: 4rem;
  }
  main .titulo-album {
    margin-left: 50rem;
  }
  main .albumimg2 {
    margin-left: 43rem;
  }
  main .albumimg2:hover {
    height: 40rem;
  }
  main .download {
    margin-left: 52rem;
  }
  main .download-1 {
    margin-left: 49rem;
  }
  main .jordanimg3:hover {
    height: 25rem;
  }
  main .tepido {
    margin-left: 80rem;
  }
  main .tepidoimg2 {
    margin-left: 70rem;
  }
  main .tepidoimg2:hover {
    height: 25rem;
  }
  footer {
    height: 100%;
  }
  footer img {
    height: 6rem;
  }
}

/*# sourceMappingURL=styles.css.map */
