@mixin titulo($size, $family, $color, $transform) {
  font-size: $size;
  font-family: $family;
  color: $color-principal;
  text-transform: $transform;
}

@mixin texto-principal($align, $margin, $size, $family, $color) {
  text-align: $align;
  margin-top: $margin;
  font-size: $size;
  font-family: $family;
  color: $color-textoindex;
}

@mixin pie-pagina($display, $height, $margin, $left) {
  display: $display;
  height: $height;
  margin-top: $margin;
  margin-left: $left;
}

@mixin group($display, $left, $top) {
  display: $display;
  margin-left: $left;
  margin-top: $top;
}

@mixin fechas($size, $family, $color-principal, $transform, $top, $left) {
  font-size: $size;
  font-family: $family;
  color: $color-principal;
  text-transform: $transform;
  margin-top: $top;
  margin-left: $left;
}

@mixin shop($height, $top, $left) {
  height: $height;
  margin-top: $top;
  margin-left: $left;
}

@mixin form($widht, $height, $padding, $top, $left, $radius, $colorform) {
  width: $widht;
  height: $height;
  padding: $padding;
  margin-top: $top;
  margin-left: $left;
  border-radius: $radius;
  background-color: $colorform;
}
