footer {
  display: flex;
  height: 15rem;
  background-color: black;

  .pie-pagina {
    @include pie-pagina(flex, 2rem, 4rem, 8rem);
  }

  .img-group {
    @include group(none, none, none);
  }

  .text-foot {
    @include group(none, none, none);
  }
}
