footer {
  background-color: black;
  .icons-footer {
    display: flex;
    justify-content: center;
    padding: 10rem;
    img {
      height: 2rem;
    }
    .seccion-group {
      display: none;
    }
  }
}
