footer {
  display: flex;
  background-color: $background-principal;
  height: 10rem;
  overflow: auto;

  .pie-pagina {
    @include pie-pagina(flex, 2rem, 4rem, 8rem);
  }

  .img-group {
    @include group(none, none, none);
  }

  .text-foot {
    @include group(none, none, none);
  }
}
