header {
  background-image: url(./../assets/img/tinihead2.jpg);
  background-size: cover;
  height: 23rem;
  .icons-head {
    display: none;
  }
  .titulo-propiedades {
    @include titulo-propiedades;
  }
}
