header {
  background-image: url(./../assets/img/tinihead2.jpg);
  background-size: cover;
  height: auto;
  .icons-head {
    display: none;
  }
  .titulo-propiedades {
    font-family: "Oswald";
    font-size: 6rem;
    text-transform: uppercase;
    color: $color-principal;
    justify-content: center;
    margin-bottom: 0;
  }
}
