main {
  grid-area: "main";
  background-image: url(./../assets/img/tinimain.png);
  width: 100%;
  background-size: contain;
  .texto-principal {
    @include texto-principal(center, 4rem, 2.5rem, "Oswald", $color-textoindex);
  }
  .text {
    display: none;
  }
  .img {
    display: none;
  }
}
