.fecha-uy {
  font-size: 2rem;
  color: $color-principal;
  text-transform: uppercase;
  padding-top: 2rem;
  padding-left: 2rem;
}
.fecha-cor {
  font-size: 2rem;
  color: $color-principal;
  text-transform: uppercase;
  padding-top: 1rem;
  margin-left: 12rem;
}
.fecha-bsaires {
  font-size: 2rem;
  color: $color-principal;
  text-transform: uppercase;
  padding-top: 1rem;
  margin-left: 25rem;
}
.fecha-bcn {
  font-size: 2rem;
  color: $color-principal;
  text-transform: uppercase;
  margin-top: -8rem;
  margin-left: 5rem;
}
.fecha-vln {
  font-size: 2rem;
  color: $color-principal;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-left: 15rem;
}
.fecha-cadiz {
  font-size: 2rem;
  color: $color-principal;
  text-transform: uppercase;
  margin-left: 32rem;
  .cadiz {
    margin-bottom: 0;
  }
}
