.main-contacto {
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    height: 25rem;
    width: 70%;
    border-radius: 4rem;
    display: flex;
    background-color: $color-textoindex;
    justify-content: center;
    fieldset {
      margin-top: 2rem;
      margin-left: 5rem;
      font-family: "Indie flower";
      text-transform: uppercase;
      .message {
        height: 12rem;
        width: 80%;
        margin-top: 2rem;
        font-family: "Indie flower";
        text-transform: uppercase;
      }
      .tituloform {
        margin-top: 2px;
        margin-left: 5rem;
        text-transform: uppercase;
        color: white;
        font-family: "Indie flower";
      }
    }
  }
}
