.titulo-album {
  margin-top: 2rem;
  margin-left: 15rem;
  font-size: 30px;
  font-family: $tipografia-titulos;
  text-transform: uppercase;
  color: white;
}
.albumimg {
  margin-left: 13rem;
  .albumimg2 {
    height: 15rem;
  }
}
.downloadimg {
  @include fechas(17px, $tipografia-principal, white, uppercase, none, 18rem);
  .download {
    margin-top: 1rem;
    margin-left: 3rem;
    height: 2rem;
  }
  .download1 {
    margin-left: 4rem;
  }
}
.jordanimg {
  margin-top: 6rem;
  margin-left: 10px;
  .lasjordan {
    margin-top: 1rem;
    margin-left: 5px;
    font-size: 17px;
    text-transform: uppercase;
    color: white;
  }
  .albumimg3 {
    height: 12rem;
  }
}
.tepidoimg {
  .tepido {
    margin-top: -15rem;
    margin-left: 28rem;
    font-size: 17px;
    text-transform: uppercase;
    color: white;
  }
  .tepidoimg2 {
    height: 12rem;
    margin-left: 20.5rem;
  }
}
