main {
  grid-area: "main";
  background-image: url(./../assets/img/tinimain.png);
  height: 50rem;
  background-size: contain;
  overflow: auto;
  .texto-principal {
    @include texto-principal(center, 12rem, 2rem, "Oswald", $color-textoindex);
  }
  .text {
    display: none;
  }
  .img {
    display: none;
  }
}
