main {
  background-image: url(./../assets/img/tinimain.png);
  background-size: contain;
  height: auto;
  width: auto;
  .texto-principal {
    font-family: $tipografia-titulos;
    font-size: 20px;
    text-align: center;
    color: $color-principal;
    padding: 15rem;
  }
}
