.formulario {
  @include form(300px, 20rem, 20px, 15rem, 6rem, 5px, $colorform);
  .tituloform {
    margin-top: -2rem;
    text-align: center;
    font-family: "Indie flower";
    text-transform: uppercase;
    color: white;
  }
  .name {
    text-align: center;
    font-family: "Indie flower";
    text-transform: uppercase;
  }
  .email {
    text-align: center;
    font-family: "Indie flower";
    text-transform: uppercase;
  }
  .message {
    margin-top: 1rem;
    padding: 5rem;
    font-family: "Indie flower";
    text-transform: uppercase;
  }
}
