@media (min-width: 1024px) {
  header {
    .titulo-propiedades {
      margin-left: 6rem;
    }
  }
  /* MAIN INDEX */
  main {
    .texto-principal {
      font-size: 3rem;
      font-family: "Indie flower";
    }
  }

  /* MAIN GIRAS */
  .main-giras {
    font-family: $tipografia-principal;
    font-size: 2rem;
  }

  /* MAIN LANZAMIENTOS */
  .main-lanzamientos {
    .album {
      p {
        margin-left: -2rem;
      }
    }
    .jordan:hover {
      height: 40rem;
    }
    .te-pido:hover {
      height: 40rem;
    }
  }

  /* MAIN CONTACTO */
  .main-contacto {
    form {
      width: 30%;
      height: 60%;
    }
  }

  footer {
    .icons-footer {
      img {
        height: 4rem;
      }
    }
  }
}
