@media (min-width: 1024px) {
  /* MAIN INDEX */
  main {
    .texto-principal {
      font-size: 3rem;
      font-family: "Indie flower";
    }
    /* MAIN GIRAS */
    .fecha-uy {
      margin-left: 15rem;
    }
    .fecha-cor {
      margin-left: 85rem;
    }
    .fecha-bsaires {
      margin-top: -10rem;
      margin-left: 50rem;
    }
    .fecha-cadiz {
      margin-top: -9rem;
      margin-left: 70rem;
    }
    .fecha-bcn {
      margin-top: 4rem;
    }

    /* MAIN LANZAMIENTOS */
    .titulo-album {
      margin-left: 50rem;
    }
    .albumimg2 {
      margin-left: 43rem;
    }
    .albumimg2:hover {
      height: 40rem;
    }
    .download {
      margin-left: 52rem;
    }
    .download-1 {
      margin-left: 49rem;
    }
    .jordanimg3:hover {
      height: 25rem;
    }
    .tepido {
      margin-left: 80rem;
    }
    .tepidoimg2 {
      margin-left: 70rem;
    }
    .tepidoimg2:hover {
      height: 25rem;
    }
  }
  footer {
    height: 100%;
    img {
      height: 6rem;
    }
  }
}
