@media (min-width: 768px) {
  header {
    .titulo-propiedades {
      font-size: 9rem;
      margin-top: 3rem;
      margin-left: 45rem;
    }
  }
  /* MAIN INDEX */
  main {
    .texto-principal {
      font-size: 25px;
      padding: 6rem;
    }
    /* MAIN GIRAS */
    .main-giras {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
    }
  }
  /* MAIN LANZAMIENTOS */
  .main-lanzamientos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    .album {
      grid-column-start: 2;
      grid-column-end: 3;
      display: block;

      .img-album {
        display: flex;
        justify-content: center;
        height: 20rem;
        align-items: center;
      }
      .img-dwn {
        display: flex;
        justify-content: center;
        height: 5rem;
      }
      h3 {
        color: white;
        text-align: center;
      }
    }
    .jordan {
      grid-column-start: 1;
      grid-column-end: 2;
      display: block;
      .img-jordan {
        height: 20rem;
        width: 25rem;
      }
      h3 {
        color: white;
        text-align: center;
      }
    }
    .te-pido {
      display: grid;
      grid-column-start: 3;
      grid-column-end: 4;
      display: block;
      .img-pido {
        height: 20rem;
        width: 25rem;
      }
      h3 {
        color: white;
        text-align: center;
      }
    }
  }

  /* FOOTER */
  footer {
    .icons-footer {
      img {
        height: 5rem;
      }
    }
  }
}
