@media (min-width: 1024px) {
  /* MAIN INDEX */
  main {
    .texto-principal {
      font-size: 3rem;
      font-family: "Indie flower";
    }

    /* MAIN LANZAMIENTOS */
    .titulo-album {
      margin-left: 50rem;
    }
    .albumimg2 {
      margin-left: 43rem;
    }
    .albumimg2:hover {
      height: 40rem;
    }
    .download {
      margin-left: 52rem;
    }
    .download-1 {
      margin-left: 49rem;
    }
    .jordanimg3:hover {
      height: 25rem;
    }
    .tepido {
      margin-left: 80rem;
    }
    .tepidoimg2 {
      margin-left: 70rem;
    }
    .tepidoimg2:hover {
      height: 25rem;
    }
  }
  footer {
    .icons-footer {
      img {
        height: 6rem;
      }
    }
  }
}
